
.main_container {
    /* Styles for the main container go here */
}

.number {
    font-size: 288px;
    font-weight: 700;
    text-align: center;
    color: #FF6060;
    margin-top: 125px;
    margin-bottom: 0;
}

.error {
    color: #FF6060;
    text-align: center;
    font-size: 36px;
    margin-top: 70px;
}

.link {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #FF6060;
}

.link:hover {
    text-decoration: underline;
}

.link_container {
    margin-top: 140px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .number {
        font-size: 96px;
        font-weight: 700;
    }

    .error {
        font-size: 18px;
    }

    .link {
        font-size: 14px;
    }

    .logo {
        margin-bottom: 0;
    }
}
